div.for{
border:1px solid grey;
padding:40px;
padding-bottom: 150px;  
}
ul{z-index:9000;
  position:relative;}
li.breadcr {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #0095c4;
  margin: 0 3em;
  display: inline-block;
  color: white;
  position: relative;
}
li.breadcr::before {
  content: '';
  position: absolute;
  top: .9em;
  left: -8em;
  width: 10em;
  height: .2em;
  background: #0095c4;
   z-index: -1
 
}
li.breadcr:first-child::before {
  display: none;
}
.active {
  background: #0095c4;
}
.active ~ li.breadcr {
  background: #badae4;
}
.active ~ li.breadcr::before {
  background: #badae4;
}
ul.sub {
  list-style: none;
}
li.sub02 {
  display: inline-block;
  font-family: TeX Gyre Heros, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}
select#data_category_id{
  height: 30px;
  border-radius: 5px 5px 5px 5px;
  width:auto;
}
textarea#comments{
  border-radius: 5px 5px 5px 5px;
  width: 70%;
  height: 80px;
  float:left;
}
.hastip:after {
    content: '?';
    display: inline-block;
    background-color: #3c3c3b;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    border-radius: 50%;
    color: #fff;
    margin-left: .5em;
    opacity: .5;
    font-size: .9em;
    font-weight: 400;
}
input#url{
  border-radius: 5px 5px 5px 5px;
  width: 39%;
}
 button.submit{
  float: left;
      margin-top: 90px;
    margin-left: -70%;
}
